﻿@model DNPatients.Models.DiagnosisCategory

@{
    ViewData["Title"] = "Create Diagnosis Category";
}

    <h1>Create Diagnosis Category</h1>

<h4>Diagnosis Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input asp-for="Id" class="form-control" type="hidden" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

