﻿@model IEnumerable<DNPatients.Models.PatientDiagnosis>

@{
    ViewData["Title"] = "Diagnosis for Patient:" + ViewData["PatientName"];
    
}

    <h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis.Name)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Patient.LastName), @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                <a asp-action="Index" asp-controller="DNPatientTreatments" asp-route-patientDiagnosisId="@item.PatientDiagnosisId" asp-route-DiagName="@item.Diagnosis.Name" asp-route-PatientsName="@ViewData["PatientName"]">Treatment</a> |
                    <a asp-action="Edit" asp-route-id="@item.PatientDiagnosisId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PatientDiagnosisId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PatientDiagnosisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
