﻿@model IEnumerable<DNPatients.Models.MedicationType>

@{
    ViewData["Title"] = "Medication Type";
}
<span class="text-danger">
    <h4>@TempData["Message"]</h4>
</span>
@{ Context.Session.Remove("Error"); }

<h1> List of Medication Type</h1>


<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicationTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationTypeId)
                </td>
                <td>

                    <a asp-controller="DNMedications" asp-action="Index" asp-route-MedicationTypeId="@item.MedicationTypeId">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
