﻿@model DNPatients.Models.DispensingUnit

@{
    ViewData["Title"] = "Details Dispensing Unit";
}

    <h1>Details Dispensing Unit</h1>

<div>
    <h4>Dispensing Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispensingCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DispensingCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
