﻿@model DNPatients.Models.PatientTreatment

@{
    ViewData["Title"] = "Edit a Treatment for "+ ViewData["DiagName"] +", Patient: "+ViewData["PatientsName"];
}

    <h1> @ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientTreatmentId" />
            <div class="form-group">
                <label asp-for="TreatmentId" class="control-label"></label>
                <select asp-for="TreatmentId" class="form-control" asp-items="ViewBag.TreatmentId"></select>
                <span asp-validation-for="TreatmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePrescribed" class="control-label"></label>
                <input asp-for="DatePrescribed" class="form-control"  readonly />
                <span asp-validation-for="DatePrescribed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea rows="3"  asp-for="Comments" class="form-control" ></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="PatientDiagnosisId" class="form-control" value="@ViewData["PatientsDiagID"]" />
                <span asp-validation-for="PatientDiagnosisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

