﻿@model DNPatients.Models.Medication
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Delete Medication for " +    ViewData["MedName"] ;
}

<h1>@ViewData["Title"]</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Din)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Din)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcentrationCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcentrationCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DispensingCode)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Din" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
