﻿@model DNPatients.Models.Medication
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Edit Medication for "+    ViewData["MedName"] ;
}

<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Din" class="control-label"></label>
                <input type="text" asp-for="Din" class="form-control" readonly />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MedicationTypeId" class="form-control" asp-items="ViewBag.MedicationTypeId" />
                <span asp-validation-for="MedicationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispensingCode" class="control-label"></label>
                <select asp-for="DispensingCode" class="form-control" asp-items="ViewBag.DispensingCode"></select>
                <span asp-validation-for="DispensingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentration" class="control-label"></label>
                <input asp-for="Concentration" class="form-control" readonly />
                <span asp-validation-for="Concentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcentrationCode" class="control-label"></label>
                <input type="text" readonly asp-for="ConcentrationCode" class="form-control" asp-items="ViewBag.ConcentrationCode" />
                <span asp-validation-for="ConcentrationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

