﻿@model DNPatients.Models.ConcentrationUnit

@{
    ViewData["Title"] = "Delete Concentration Unit";
}

    <h1>Delete Concentration Unit</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Concentration Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConcentrationCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConcentrationCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
      
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
