﻿@model DNPatients.Models.ConcentrationUnit

@{
    ViewData["Title"] = "Edit Concentation Unit";
}

    <h1>Edit Concentation Unit</h1>

<h4>Concentration Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="ConcentrationCode" class="control-label"></label>
            <input asp-for="ConcentrationCode" class="form-control" readonly />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

